<div class="container">
    <div class="centre">
        <div class="cen">
        <mat-form-field appearance="fill">
            <mat-label>Customer ID</mat-label>
            <input matInput [(ngModel)]="user_id" disabled>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput [(ngModel)]="fname" [disabled]='!editable'>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput [(ngModel)]="lname" [disabled]='!editable'>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <input matInput [(ngModel)]="country" [disabled]='!editable'>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Region</mat-label>
            <input matInput [(ngModel)]="region" [disabled]='!editable'>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input matInput [(ngModel)]="city" [disabled]='!editable'>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Postal Code</mat-label>
            <input matInput [(ngModel)]="postal" [disabled]='!editable'>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Street</mat-label>
            <input matInput [(ngModel)]="street" [disabled]='!editable'>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput [(ngModel)]="address" [disabled]='!editable'>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Mobile</mat-label>
            <input matInput [(ngModel)]="mobile" [disabled]='!editable'>
        </mat-form-field><br>
        <div *ngIf="!editable">
            <button  (click)='edit()' class="btn" style="background-color: rgb(29, 135, 255);">Edit</button>
        </div>
        <div *ngIf="editable">
            <button  (click)='update()' class="btn" style="background-color: rgb(58, 173, 110);">Update</button>
        </div><br>
        <p style="color: rgb(58, 173, 110);">{{this.info}}</p>
    </div>
</div>
</div>
