.centre {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 65%;
    height:85%;
    border-radius: 25px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    justify-content: center;
  }
  .cen
  {
    position: absolute;
    justify-content: center;
    align-items: center;
    
  }
  .container
  {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(133, 196, 255));
      width: 100vw;
      height: 100vh;
  }
.left {

    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }
.right {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  img
  {
      width: 300px;
      height: 300px;
  }
  .btn
  {
      color: white;
      transition: width 2s;
     
  }
  .btn:hover{
      background-color: green;
      box-shadow: 0 8px 16px 0 rgb(40, 230, 255), 0 6px 20px 0 rgba(0,0,0,0.19);
      transform: scale(1.1);

  }
  .mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
    color: #000;
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
  color: rgb(0, 0, 0);
}
