<div class="container">
    <div class="centre">
        <div class="cen">
            <h1>Apply Leave</h1>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Starting Date</mat-label>
                <input  matInput [(ngModel)]="START_DATE" [matDatepicker]="dp" placeholder="Starting Date">
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Ending Date</mat-label>
                <input  matInput [(ngModel)]="LAST_DATE" [matDatepicker]="dp1" placeholder="Ending Date">
              <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
              <mat-datepicker #dp1></mat-datepicker>
            </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Leave Type</mat-label>
            <select matNativeControl required [(ngModel)]="LEAVE_TYPE">
              <option [ngValue]="1002">Sick Leave</option>
              <option [ngValue]="1001">Annual Leave</option>
              <option [ngValue]="1004">Unpaid Leave</option>
              <option [ngValue]="1004">Hajj Leave</option>
            </select>
          </mat-form-field><br>
        
        <button  (click)='update()' class="btn" style="background-color: rgb(58, 173, 110);">Apply</button>
        
        <p style="color: rgb(58, 173, 110);">{{this.info}}</p>
    </div>
</div>
</div>
