<div *ngIf="display"class="spin">
    <app-spinner1></app-spinner1>
    <p>{{this.info}}</p>
</div>
<div *ngIf="!display" id="divName" >
    <img class="bgimg" [src] ="logo" >
    <select matNativeControl required [(ngModel)]="seq" (ngModelChange)="reload()">
        <option [ngValue]="1">January</option>
        <option [ngValue]="2">Annual Leave</option>
      </select>
    <button  class="printbtn"  [printStyle]="{button : {'display': 'none'},img : {'height': '100px'}}"printSectionId="divName" ngxPrint><mat-icon>print</mat-icon></button>
   
    <div [innerHTML]="html">

    </div>
</div>
 