
@media print {
    button {
      display: none;
    }
    head
    {
        display: none;
    }
    img
  {
      width: 100px;
      height: 100px;
      justify-content: center;
      align-items: center;
  }
}
  img
  {
      width: 150px;
      height: 120px;
      justify-content: center;
      align-items: center;
  }
  #divName
  {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  button {
    border: none;
    background-color: white;
    font-size: large;
    
  }
  
