.centre {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 65%;
    height:75%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    justify-content: center;
  }
.left {

    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
.right {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  img
  {
      width: 300px;
      height: 300px;
  }
  .btn
  {
      color: white;
      transition: width 2s;
  }
  .btn:hover{
      background-color: green;
      box-shadow: 0 8px 16px 0 rgb(40, 230, 255), 0 6px 20px 0 rgba(0,0,0,0.19);
      transform: scale(1.1);

  }
