table
{
    width: 100%;
}
.tab
{
    padding-left: 50px;
}
@media print
  {
    table {
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
  }
  .icon {
    font-size: 36px;
}